[project]
	description = my personal knowledgebase
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Soff (Davidsoff)
[access "refs/for/refs/*"]
	read = group user/David Soff (Davidsoff)
	push = group user/David Soff (Davidsoff)
	label-Code-Review = -2..+2 group user/David Soff (Davidsoff)
	label-Verified = -1..+1 group user/David Soff (Davidsoff)
	rebase = group user/David Soff (Davidsoff)
	removeReviewer = group user/David Soff (Davidsoff)
	submit = group user/David Soff (Davidsoff)
[access "refs/heads/*"]
	read = group user/David Soff (Davidsoff)
	create = group user/David Soff (Davidsoff)
	push = +force group user/David Soff (Davidsoff)
	pushMerge = group user/David Soff (Davidsoff)
[access "refs/tags/*"]
	push = group user/David Soff (Davidsoff)
	push = +force group user/David Soff (Davidsoff)
